.root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* create a stacking context for the app */
    isolation: isolate;
}

.content {
    min-height: min-content;
    flex-grow: 1;
    background-color: var(--app-surface);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
